In [3]:
import pandas as pd
import numpy as np

# make some files paths
cust_file = "Test_Data/03_Library SystemCustomers.csv"
book_file = "Test_Data/03_Library Systembook.csv"

# load csv's into dataframes
df_cust = pd.read_csv(cust_file)
df_book = pd.read_csv(book_file)

# preview file
print("Customer Data prev:")
display(df_cust.head())


def check_missing_values(df, dataset_name):
    missing_counts = df.isnull().sum()
    print(f"\n Missing Values in {dataset_name}:")
    display(missing_counts[missing_counts > 0])

# Run checks
check_missing_values(df_cust, "Customers")
check_missing_values(df_book, "Books")

df_cust.fillna({
    'Email': 'unknown@example.com',
    'Phone': '000-000-0000',
    'Address': 'Unknown'
}, inplace=True)

df_book.fillna('Unknown', inplace=True)

# Drop rows with missing fields
df_cust.dropna(inplace=True)
df_book.dropna(inplace=True)

# Recheck missing values
check_missing_values(df_cust, "Customers (After Cleaning)")
check_missing_values(df_book, "Books (After Cleaning)")

#dealing with duplicates

def check_duplicates(df, dataset_name):
    duplicate_count = df.duplicated().sum()
    print(f"\n Duplicates in {dataset_name}: {duplicate_count}")

check_duplicates(df_cust, "Customers")
check_duplicates(df_book, "Books")

#removing found duplicates
df_cust.drop_duplicates(inplace=True)
df_book.drop_duplicates(inplace=True)

#test.. are they now removed
check_duplicates(df_cust, "Customers after cleaning(de-dupe)")
check_duplicates(df_book, "Books after cleaning (de-dupe)")

#fix the data column formatting

Customer Data prev:

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

 Missing Values in Customers:

Customer ID      1
Customer Name    1
dtype: int64

 Missing Values in Books:

Id                        93
Books                     94
Book checkout             93
Book Returned             93
Days allowed to borrow    93
Customer ID               94
dtype: int64

 Missing Values in Customers (After Cleaning):

C:\Users\Admin\AppData\Local\Temp\ipykernel_7120\2670748250.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_book.fillna('Unknown', inplace=True)

Series([], dtype: int64)

 Missing Values in Books (After Cleaning):

Series([], dtype: int64)

 Duplicates in Customers: 0

 Duplicates in Books: 92

 Duplicates in Customers after cleaning(de-dupe): 0

 Duplicates in Books after cleaning (de-dupe): 0