In [3]:
from load_data import load_csv
from clean_data import clean_dataframe, clean_phone_and_email
from save_results import save_cleaned_data

# Load data
data, source = load_csv()

if data:
    if isinstance(data, dict):  # Multiple files
        for filename, df in data.items():
            print(f" Cleaning {filename}...")
            df = clean_dataframe(df)
            df = clean_phone_and_email(df)
            save_cleaned_data(df, filename)
    else:  # Single file
        df, filename = data
        print(f" Cleaning {filename}...")
        df = clean_dataframe(df)
        df = clean_phone_and_email(df)
        save_cleaned_data(df, filename)

Customer Data prev:

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

 Missing Values in Customers:

Customer ID      1
Customer Name    1
dtype: int64

 Missing Values in Books:

Id                        93
Books                     94
Book checkout             93
Book Returned             93
Days allowed to borrow    93
Customer ID               94
dtype: int64

 Missing Values in Customers (After Cleaning):

C:\Users\Admin\AppData\Local\Temp\ipykernel_7120\2670748250.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_book.fillna('Unknown', inplace=True)

Series([], dtype: int64)

 Missing Values in Books (After Cleaning):

Series([], dtype: int64)

 Duplicates in Customers: 0

 Duplicates in Books: 92

 Duplicates in Customers after cleaning(de-dupe): 0

 Duplicates in Books after cleaning (de-dupe): 0